.root{
    -fx-padding: 20 40;
}
.settingTile {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}

.settingDescription {
    -fx-padding: 0 10;
    -fx-font-size: 13;
    -fx-opacity: 0.7;
}

#circleTheme{
    -fx-cursor: hand;
    -fx-border-color: #333;
}