
.root{
    -fx-background-image: url("../images/book_shelf.jpg");
}

#rootVbox{
    -fx-background-color: rgba(3, 3, 3, 0.65);
}

#fieldSearch{
    -fx-padding: 10;
    -fx-font-size: 13;
}

.button{
    -fx-padding: 8 16;
    -fx-font-size: 15;
    -fx-background-color: #111;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(101, 101, 101, 0.6), 9,0,0,2);

}

.button:hover{
    -fx-cursor: hand;
}


.button:pressed{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.searchButton {
}